<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!------ Include the above in your HEAD tag ---------->
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-md custom-navbar navbar-dark">
  <h1 class="text-light">Digital Diary</h1>
  <!--<img class="navbar-brand" src="http://acmsocc.github.io/2016/assets/img/googlelogo_color_324x112dp.png" id="logo_custom" width="10%"  alt="logo">-->
  <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse " id="collapsibleNavbar">
    <ul class="navbar-nav m-auto ">
      <li class="nav-item">
        <a class="nav-link text-light" href="#offer"><b>Home</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><b>About Us</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><b>Services</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><b>Contact</b></a>
      </li>

    </ul>

    <form class="form-inline ml-auto">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success my-2 my-sm-0 " type="submit">Search</button>
    </form>
  </div>
</nav>



<br />
<br />
<br />
<br />
<br />
<button type="button" class=" btn-text-black  ml-2 mt-4" (click)="logout()"style="background-color:#f2d9e6"><b><span class="badge badge-dark"><i class="fa fa-sign-out"></i></span>&nbsp;&nbsp;Log Out</b></button>
<div class="container">
  <div id="blog" class="row">



    <div class="col-md-12 blogShort">
      <h1>Title 2</h1>
      <img src="../../assets/images/bookss.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
      <article><p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
        five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
        Lorem Ipsum.
      </p></article>
      <div class="card-footer text-muted">
        Posted on January 1, 2017 by
        <a href="#">Start Bootstrap</a>
      </div>
      <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
    </div>

    <div class="col-md-12 blogShort">
      <h1>Title 3</h1>
      <img src="../../assets/images/bookss.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
      <article><p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
        five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
        Lorem Ipsum.
      </p></article>
      <div class="card-footer text-muted">
        Posted on January 1, 2017 by
        <a href="#">Start Bootstrap</a>
      </div>
      <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
    </div>

    <div class="col-md-12 gap10"></div>
  </div>
</div>
